# temps
.vscode
__pycache__
/panocam/tmp/*
Thumbs.db

# private
todo.md

# work in progress
/mechanical_design/*
!mechanical_design/pidar_covershot.jpg
!mechanical_design/v1
!mechanical_design/Fritzing
/mechanical_design/Fritzing/parts
_old

# data directory
/images/*
/data/*
/export/*
